lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

*.sublime*

example
demo
lib
misc
pkg
src
test
tmp
vendor

.travis.yml
angular-stellar.gemspec
angular-stellar.min.js
Gemfile
gulpfile.ls
Rakefile
